<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <!-- Personal css -->
    <link rel="stylesheet" href="styles/main.css" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather+Sans&family=Montserrat&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/707d014fb6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="heading">
    <h1 class="contacts">Our contacts and Social Media Handles</h1>
    <div>
      <ul>
        <li>
          <i class="fa-solid fa-phone footer-icon contact-icon"></i>Phone : +254
          707 273 738
        </li>
        <li>
          <i class="fa-brands fa-x-twitter footer-icon contact-icon"></i>
          <a href="https://x.com/Wambuipurity3?t=-NwrWcO-L5Vl76FU_Vs2lA&s=08"
            >Formerly Twitter</a
          >
        </li>
        <li>
          <i class="fa-brands fa-facebook footer-icon contact-icon"> </i>
          <a href="https://www.facebook.com/purity.wambui.395?mibextid=ZbWKwL"
            >Facebook</a
          >
        </li>
        <li>
          <i class="fa-brands fa-instagram footer-icon contact-icon"> </i>
          <a href="https://www.instagram.com/purey.nduta?igsh=ejczaDRqNGhiYnow"
            >Instagram</a
          >
        </li>
        <li>
          <i class="fa-brands fa-threads footer-icon contact-icon"> </i>
          <a href="https://www.threads.net/@purey.nduta">Threads</a>
        </li>
        <li>
          <i class="fa-solid fa-envelope footer-icon contact-icon"> </i>Email :
          pureyriri@gmail.com
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <i class="fa-brands fa-linkedin footer-icon contact-icon"> </i
          ><a href="https://www.linkedin.com/in/purity-n-582478165">LinkedIn</a>
        </li>
        <li>
          <i class="fa-brands fa-tiktok footer-icon contact-icon"> </i>
          <a href="https://www.tiktok.com/@purey_fitness?_t=8jR0kOl8KV4&_r=1"
            >Tiktok</a
          >
        </li>
        <li>
          <i class="fa-brands fa-youtube footer-icon contact-icon"> </i
          ><a href="https://www.youtube.com/watch?v=C_vv1D5oDZ0&t=30s"
            >Youtube</a
          >
        </li>
        <li>
          <i class="fa-brands fa-snapchat footer-icon contact-icon"> </i
          >Snapchat
        </li>
        <li>
          <i class="fa-brands fa-telegram footer-icon contact-icon"> </i
          >Telegram
        </li>
      </ul>
    </div>
  </body>
</html>
