<div class="card">
  <input type="checkbox" name="" id="read-text" />
  <p>
    Derek O’Leary, 43, from The Meadows, Duntahane, Fermoy, north Cork, was
    wearing a helmet while riding his high-performance racing bike in top gear
    down a hill just outside the town at around 6pm on July 17 when a cat
    apparently crossed his path. Cork City Coroner’s Court was told that Mr
    O’Leary was found collapsed on the road, blood pouring from his mouth, a few
    moments later. ...
  </p>
  <div class="content">
    <p>
      Bits of his helmet cracked off and were found scattered on the road.
      Gardaí also found the body of a dead cat over a nearby ditch and became
      suspicious. Garda forensic experts matched hair from the cat’s body to 13
      samples of animal hair found on the bike. An autopsy also established the
      cat died as a result of a severe impact. Crime scene investigator Garda
      Tom Dunlea said although no-one witnessed the accident, on the balance of
      probabilities Mr O’Leary had probably been involved in a collision with
      the cat. The jury returned a verdict of accidental death. The inquest was
      told that Mr O’Leary was an experienced cycling enthusiast who had cycled
      across Wicklow in the weeks before his death in training for a fundraising
      cycle with his friend Ben Hayes around the Ring of Kerry. He set off from
      home on July 17 for an evening cycle around Fermoy and was coming down a
      hill near the town’s driving range when the cat crossed his path. Mr
      O’Leary was flung over the handlebars and suffered extensive head
      injuries. A passing motorist, Ger Murphy, found him and together with
      Jonathan McGrath, who lives nearby, they raised the alarm. An ambulance
      was called and Mr O’Leary was rushed semi-conscious to Cork University
      Hospital (CUH). Despite surgery four days later to relieve pressure in his
      brain, he died on July 25 from brain injuries. Coroner Dr Myra Cullinane
      described it as a terribly tragic accident — “one of those acts of God,
      over which we have no control”. She also praised Mr O’Leary’s family for,
      in very trying and difficult circumstances, agreeing to donate his organs
      to save others.
    </p>
    <label for="read-text">Read Less</label>
  </div>
  <label for="read-text">Read More</label>
</div>
