<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Posts</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <!-- Personal css -->
    <link rel="stylesheet" href="styles/main.css" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather+Sans&family=Montserrat&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Heading -->
    <section id="heading">
      <%- include('partials/header.ejs') %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="heading-msg">
              Find educational, comical and futuristic blogs daily!
            </h1>
            <h2>Entice readers with your blog today!</h2>
            <p>
              Click <a href="/blog" style="color: #934a5f">here</a> to start
            </p>
          </div>
          <div class="col-lg-6">
            <img class="blog-img" src="/images/image1.png" alt="Blog-img" />
          </div>
        </div>
      </div>
    </section>

    <!-- Blogs -->
    <section id="blogs">
      <div class="row">
        <h1>Blogs making headlines today</h1>
        <div class="col-lg-4">
          <h2 class="blog-item">THE KILLER CAT</h2>
          <p>Cat caused death of EXPERIENCED cyclist in freak accident!</p>
          <%- include('partials/killer-cat.ejs') %>
          <p><em>Article by Jake Anderson</em></p>
        </div>

        <div class="col-lg-4">
          <h2 class="blog-item">Tinder for dogs</h2>
          <p>
            Get this story today by following this link:
            <a
              href="https://www.poochandmutt.co.uk/pages/valentines-day-dog-love"
              style="color: #c2b4d6"
              >tindog</a
            >
          </p>
          <img class="blog-img" src="/images/violet.webp" alt="violet" />

          <p><em>Article by Purity Wambui</em></p>
        </div>
        <div class="col-lg-4">
          <h2 class="blog-item">Saved secular rapper</h2>
          <p>
            Get to know the story of Bobby Mapesa today. Click
            <a href="/blogs.txt" style="color: #c2b4d6">here</a>
          </p>
          <img class="blog-img" src="/images/rapper.webp" alt="rapper" />
          <p><em>Story by Dan Wainaina</em></p>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section id="testimonials">
      <h2>Testimonials from The Voice bloggers</h2>
      <p class="testimonial-msg">
        Since I started uploading my blogs on The Voice, <br />
        I have gained more readers and <br />
        my revenue has gone up. <br />
        -- Dan Wainaina --
      </p>
    </section>

    <!-- Footer -->
    <section id="footer"><%- include('partials/footer.ejs') %></section>
  </body>
</html>
